.searchBar {
  border: 1px solid deepskyblue; }
  .searchBar input {
    display: block;
    width: 100%;
    padding: 10px; }

.searchBarSuggest > div > div {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e5ebed; }
  .searchBarSuggest > div > div > div {
    flex: 1 0 66%;
    padding: 18px; }
    .searchBarSuggest > div > div > div:first-of-type {
      flex: 1 0 33%; }
