* {
  box-sizing: border-box;
}

body {
  background: #f2f6f9;
  height: 100%;
  color: #2e3c43;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Open sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

.a {
  color: deepskyblue;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 56px;
  background: #1785fb;
}

main {
  &.showWidgetPanel {
    margin-right: 350px;
  }
  margin-right: 10px;
  margin-left: 56px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  > section {
    flex: 0 0 auto;
    &:last-of-type {
      flex: 1 1 auto;
    }
  }
}

.navDrawer {
  width: 350px;
  /* overflow: auto; */
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
}

.viewSelectorWrapper {
  text-align: right;
}

.viewSelector {
  display: inline-block;
  margin: 0;
  right: 420px;
  top: 20px;
  list-style: none;
  background: white;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 12px;
  li {
    display: inline-block;
    text-align: center;
  }
}

.viewSelector li a {
  text-decoration: none;
  color: inherit;
  padding: 5px 10px;
  display: inline-block;
  &.active {
    background: deepskyblue;
    color: white;
  }
}

.viewSelector li.active a {
  background: darkseagreen;
  color: white;
}

/* general */
dd, dt {
  display: inline-block;
  margin: 0;
}
/* utils */
.u-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.u-upperCase {
  text-transform: uppercase;
}
.u-secondaryTextColor {
  color: #636d72;
}
.u-small {
  font-size: 10px;
  line-height: 14px;
}
.u-medium {
  font-size: 12px;
  line-height: 16px;
}
.u-semibold {
  font-weight: 600;
}
.u-actionTextColor {
  color: #1785fb;
}

/* filter */
.filter {
  background: white;
  margin-bottom: 6px;
  border-radius: 3px;
}
.filter .material-icons {
  font-size: 18px;
}
.filter__content {
  padding: 24px 0;
}
.filter__header, .filter__info {
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__header h3 {
  color: #2e3c43;
  font-size: 16px;
  margin: 0;
  line-height: 22px;
  font-weight: 500;
}
.filter__info dd {
  margin-right: 24px;
}
.filter__info dt {
  margin-right: 5px;
}

.filter__search {
  margin-top: 24px;
  border: 1px solid #eee;
  border-width: 1px 0;
  position: relative;
}
.filter__search i {
  position: absolute;
  right: 24px;
  top: 14px;
}
.filter__search input {
  border: none;
  display: block;
  width: 100%;
  padding: 12px 60px 12px 24px;
  font-size: 14px;
  border: 1px solid transparent;
  border-width: 1px 0;
}
.filter__search input:focus {
  outline: none;
  background: #fbfbfb;
  border-bottom-color: deepskyblue;
}

.filter__actions {
  margin: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__actions p, .filter__actions a {
  display: inline-block;
}

.filter__options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__options input[type="checkbox"]{
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
}
.filter__facet {
  margin-right: 24px;
  margin-left: 24px;
  padding: 6px 0;
}
.filter__facet__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}
.disabled .filter__facet__title {
  color: #cbced0;
}
.disabled .percentageBar>div {
  background: #dedede;
}


.percentageBar {
  border-radius: 2px;
  height: 4px;
  background: #eee;
}
.percentageBar>div {
  height: 4px;
  border-radius: 2px;
  width: 50%;
  background: #9de0ad;
  transition: width 0.4s linear;
}

/*Loader*/
.loader {
  height: 1px;
  width: 100%;
  position: relative;
  overflow: hidden;
  /*background-color: #ddd;*/
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 1px;
  background-color: #2980b9;
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}




.chips {
  margin: 0 -5px;
  padding: 0;
  padding-top: 10px;
}
.chips li {
  margin: 5px;
}
.chip {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.chip span {
  background: #ddd;
  padding: 3px 5px;
  border-radius: 0 3px 3px 0;
}
.chip span:first-of-type {
  border: 1px solid #bbb;
  border-width: 0 1px 0 0;
  border-radius: 3px 0 0 3px;
  color: #6f6f6f;
}

// .chip--not span {
//   background: #e0705c;
//   color: white;
// }
.chip--not span:nth-of-type(2) {
  // color: #7b3c2f;
  background: tomato;
  color: white;
}

.suggestMenu {
  position: absolute;
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  background: white;
  padding: 2px 0;
  font-size: 90%;
  overflow: auto;
  max-height: 60vh;
  width: 100%;
  z-index: 998;
  > div {
    padding: 5px 10px;
    > div:first-of-type {
      font-weight: bold;
    }
  }
}